.image-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    background-color: var(--clr-primary--1);
    padding: var(--padding-main);
    border-radius: var(--border-radius-1);
    color: var(--clr-primary--2);
    justify-items: center;
}


.image-box {
    max-width: 200px;
    max-height: 200px;
}

img {
    width: 100%;
    border-radius: var(--border-radius-1);

}

.search-bar {
    display: grid;
    grid-template-columns: 3fr 2fr;
    align-items: center;
    gap: 5px;
    margin-bottom: 10px;


    input {
        height: 3em;
        background-color: var(--clr-primary--1);
        color: #fff;
        padding: var(--padding-main);

        border-radius: 37px;
        border: 1px solid var(--clr-primary--2);
    }

    .btns {
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 5px;
    }
}

.keyword-btn {
    background-color: var(--clr-primary-base);
    border: 1px solid var(--clr-primary--2);
    color: var(--clr-primary--2);
    padding: 5px 20px 5px 20px;
    border-radius: 37px;

    &:not(.more) {
        margin-bottom: 10px;
    }


    &:hover {
        cursor: pointer;
        background-color: var(--clr-primary--2);
        color: #fff;
    }

}

.button-container {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    height: 40px;
    overflow: hidden;
    align-items: center;

    &.show-more {
        height: fit-content;
    }
}

.more {
    justify-self: start;

}