
.image-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    gap: 10px;
    background-color: var(--clr-primary--1);
    padding: var(--padding-main);
    border-radius: var(--border-radius-1);
}


.image-box {
    max-width: 200px;
    max-height: 200px;
}

img {
    width: 100%;
    border-radius: var(--border-radius-1);
}

.search-bar{
    display: grid;

    input {
        height: 3em;
        background-color: var(--clr-primary--1);
        color: #fff;
        padding: var(--padding-main);
        margin-bottom: 10px;
        border-radius: 37px;
        border: 1px solid var(--clr-primary--2);
    }
}