
.main-header {
    display: flex;
    background-image: linear-gradient(to right, #0f9bb4 0%, #30bb72 100%);
    height: 130px;
    padding: var(--padding-main);

    margin-bottom: 10px;
    border-radius: var(--border-radius-1);
}

a {
    text-decoration: none;
}

.nav-list {
    gap: 20px;

}

.logo {
    font-size: 2.75em;
    color: white;
}


