
.main-header {
    display: flex;
    background-image: linear-gradient(to right, #0f9bb4 0%, #30bb72 100%);
    height: 130px;
    padding: var(--padding-main);

    margin-bottom: 10px;
    border-radius: var(--border-radius-1);
}



.nav-list {
    gap: 20px;
    li{
    color: white;

       
    }

    label:hover {
      cursor: pointer;
    }
}


.logo {
    font-size: 2.5em;
    color: white;
}

.file-input{
    display: none;

}



