.flex {
    display: flex;
}

.align-items {
    align-items: center;
}

.space-between {
    justify-content: space-between;

}

.clean-list {
    margin: 0;
    padding: 0;
    list-style-type: none;

}
