.flex {
    display: flex;
}

.align-items {
    align-items: center;
}

.space-between {
    justify-content: space-between;

}

.clean-list {
    margin: 0;
    padding: 0;
    list-style-type: none;

}

.grid {
    display: grid;
    grid-auto-flow: column;
}


.btn {
    width: 40px;
    height: 40px;
    font-family: poppins;
    font-size: 1em;
    background-color: rgb(202, 191, 191);
    color: var(--clr-primary-base);
    font-weight: bold;


    &:hover{
        cursor: pointer;
    }
}

