* {
    box-sizing: border-box;
}
html {
    font-family: poppins, sans-serif;
    
}

:root {
    --clr-primary-base: #22252c;
    /* body*/
    --clr-primary--1: #383b42;
    /*gallery*/
    --clr-primary--2: #26b286;
    /* Header */
    --border-radius-1: 5px;
    --padding-main: 1.25em
}



a {
    text-decoration: none;
    color: inherit;
}


