* {
    box-sizing: border-box;
}
html {
    font-family: poppins, sans-serif;
}

:root {
    --clr-primary-base: #22252c;
    /* body*/
    --clr-primary--1: #383b42;
    /*gallery*/
    --clr-primary--2: #26b286;
    /* Header */
    --border-radius-1: 5px;
    --padding-main: 20px
}



.canvas-container {
    width: 90vw;
    margin: auto;
    text-align: center;

}

.image-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    background-color: var(--clr-primary--1);
    padding: var(--padding-main);
    border-radius: var(--border-radius-1);
}


.image-box {
    max-width: 200px;
    max-height: 200px;
}

canvas {
    border: 1px solid grey;

}

img {
    width: 100%;
    border-radius: var(--border-radius-1);
}

.main-layout {
    display: grid;
    background-color: var(--clr-primary-base);
    margin: 0;
    padding: 5px;

}

.main-header {
    display: flex;
    background-image: linear-gradient(to right, #0f9bb4 0%, #30bb72 100%);
    height: 130px;
    padding: var(--padding-main);

    margin-bottom: 10px;
    border-radius: var(--border-radius-1);
}

a {
    text-decoration: none;
}

.nav-list {
    gap: 20px;

}

.logo {
    font-size: 2em;
}

.meme-edit {
    display: grid;
    background-color: var(--clr-primary--1);
    padding: var(--padding-main);

    border-radius: var(--border-radius-1);

}

.btn {
    width: 40px;
    height: 40px;
    &:hover{
        cursor: pointer;
    }
}

.text-box {
    margin-bottom: 10px;
    border-radius: var(--border-radius-1);
    height: 40px;
}

.line-edit {
    justify-items: center;
    margin-bottom: 10px;

}

.text-edit {
    padding: var(--padding-main);
    margin-bottom: 10px;
    justify-items: center;
    background-image: linear-gradient(to right, #0f9bb4 0%, #30bb72 100%);
    border-radius: var(--border-radius-1);

}


.download {
    padding: 5px;
    color: var(--clr-primary--2);
    width: fit-content;
    border: 1px solid var(--clr-primary--2);
    border-radius: var(--border-radius-1);


}