* {
    box-sizing: border-box;
}

.canvas-container {
    width: 500px;
    height: 500px;
}

.image-gallery {
    display: grid;
    grid-auto-flow: column;
    gap: 10px;
    
}


.image-box{
    max-width: 200px;
    max-height: 200px;
}

canvas {
    border: 1px solid grey;
    width: 100%
}

img {
    width: 100%;
}

