* {
    box-sizing: border-box;
}

.canvas-container {
    width: 50vw;
    
}

.image-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;

}


.image-box {
    max-width: 200px;
    max-height: 200px;
}

canvas {
    border: 1px solid grey;
    width: 100%
}

img {
    width: 100%;
}

.main-layout {
    display: grid;
}

