.canvas-container {
    width: 95%;
    margin: auto;
    text-align: center;
    background-color: var(--clr-primary--1);
    border-radius: 10px;
    /* margin-bottom: 10px; */
}

canvas {
    border-radius: 3%;
    width: 100%;

    padding: 10px;


}

.meme-edit {
    display: grid;
    background-color: var(--clr-primary--1);
    padding: var(--padding-main);
    border-radius: 3%;
    margin-top: 10px;
}



.text-box {
    margin-bottom: 10px;
    border-radius: var(--border-radius-1);
    height: 40px;
    min-width: 300px;
    justify-self: center;
    font-family: poppins, sans-serif;
    font-weight: bold;

}

.line-edit {
    justify-items: center;
    margin-bottom: 10px;

    .btn {
        background-color: var(--clr-primary--1);
        color: var(--clr-primary--2);
    }
}



.text-edit {
    display: grid;
    align-items: center;
    padding: var(--padding-main);
    margin-bottom: 10px;
    justify-items: center;
    background-image: linear-gradient(to right, #0f9bb4 0%, #30bb72 100%);
    border-radius: var(--border-radius-1);
    row-gap: 10px;
    grid-template-columns: repeat(4, 1fr);

    grid-template-rows: 1fr 1fr;


}


.link {
    padding: 5px;
    color: var(--clr-primary--2);
    width: fit-content;
    border: 1px solid var(--clr-primary--2);
    border-radius: var(--border-radius-1);
    background-color: var(--clr-primary--1);

    &:hover {
        background-color: var(--clr-primary--2);
        color: var(--clr-primary--1);
    }
}

.emoji-bar {
    display: grid;
    margin-bottom: 10px;
    justify-items: center;


    .btn {
        background-color: var(--clr-primary--1);
        border: 0px;
        font-size: 1.5em;

    }
}


[name='font-selector'] {
    width: 150px;

}