@media (min-width: 600px) {

    .image-gallery {
        grid-template-columns: repeat(3, 1fr);

    }

    .meme-edit {
        align-items: center;
        
    }
}






@media (min-width:900px) {
     .main-layout {
        grid-template-columns: minmax(16px, 1fr) minmax(auto, 1260px) minmax(16px, 1fr);

        >* {
            grid-column: 2;
        }
    }

    .image-gallery {
        grid-template-columns: repeat(5, 1fr);

    }

    .main-header {
        height: 75px;
    }


    .meme-editor {
        column-gap: 20px;
        
        
    }

    .canvas-container {
        width: 500px;
       
    }

    .meme-edit {
        grid-column: 2;
        max-width: 400px;
        margin-top: 0;
    }


    .main-header {
        border-radius: 37px;

        .logo {

            font-size: 1.375em
        }

    }

  
}